<div class="col-xs-12 col-md-8 col-md-offset-2 arttop">
    <h1>{$artinfo.title}</h1>
    
    <div class="row bottom">
      <div class='col-md-4 author'><span class="glyphicon glyphicon-user" >{$artinfo.author}</div>
      <div class="col-md-4 riqi"><span class="glyphicon glyphicon-calendar" ></span>{$artinfo.addtime}</div>
      <div class="col-md-2 "><span class="glyphicon glyphicon-align-center" ></span><span class="cate_id">{$artinfo.cate_id}</span></div>
      <div class="col-md-2 zan" id='{$artinfo.art_id}'><span class="glyphicon glyphicon-thumbs-up" ></span><span class="zan_num">{$artinfo.likes}</span></div>
      
    </div>
</div>
<div class="col-xs-12 col-md-8 col-md-offset-2 artcon">	
	{$artinfo.content|htmlspecialchars_decode}
</div>