<div class="col-xs-12 col-sm-8 right">
    <ol class="breadcrumb">
        <span class="glyphicon glyphicon-map-marker"></span>
        <li><a href="{:U('Index/index')}">Home</a></li>
        <li><a href="{:U('Index/category',array('cate_id'=>$row['cate_id']))}">{$catename}</a></li>
    </ol>
  <p class="pull-right visible-xs">
    <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
  </p>
  <volist name='artinfos' id='rows'>
  <div class="jumbotron ">
    <div class="row ">
      <div class="col-md-8 jumtop">
        <div class='arttitle'>
          <a href="{:U('Article/showArt',array('art_id'=>$rows['art_id']))}"><span class="glyphicon glyphicon-triangle-right"></span>{$rows.title}</a>
          
        </div>   
        <div><span>{$rows.art_desc}</span></div>        
      </div>
      <div class="col-md-4 thumb" ><img src="{$rows.thumbpath}" alt="thumb"></div>
    </div>  
    <div class="row jumtopbb">
        <div class="col-md-2 col-md-offset-6 forallc" ><a href="{:U('Article/showArt',array('art_id'=>$rows['art_id']))}">查看全文</a></div>
    </div>
    <div class="row bottom">
      <div class="col-md-4 author"><span class="glyphicon glyphicon-user" ></span>{$rows.author}</div>
      <div class="col-md-4 riqi"><span class="glyphicon glyphicon-calendar" ></span>{$rows.addtime}</div>
      <div class="col-md-2 "><span class="glyphicon glyphicon-align-center" ></span><span class="cate_id">{$rows.cate_id}</span></div>
      <div class="col-md-2 zan" id='{$rows.art_id}'><span class="glyphicon glyphicon-thumbs-up" ></span><span class="zan_num">{$rows.likes}</span></div>
      
    </div>
  </div>
  </volist>
  
  <ul class="pagination pagination-lg " style="margin-left: 220px">
    {$showpage}
  </ul>
  
</div><!--/.col-xs-12.col-sm-9-->

