
<!DOCTYPE html>
<html lang="zh-CN">
<!-- head头部分开始 -->
<head>
<include file='Public/head' title='卢申南的博客'/>
</head>
<!-- head头部分结束 -->
<body>
<!-- 顶部导航开始 -->
<include file="Public/nav" />
<!-- 顶部导航结束 -->
<!-- 主体部分开始 -->
<div class="container content-part">
    <div class="row row-offcanvas row-offcanvas-right">
        <!-- 通用左侧列表开始 -->
        <include file="Public/list" />
        <!-- 通用左侧列表结束 -->

        <!-- 通用右侧开始 -->
        <include file="Public/right" />
        <!-- 通用右侧结束 -->
    </div>
    <div class="row">
        <!-- 底部文件开始 -->
        <include file="Public/foot" />
        <!-- 通用底部文件结束 -->
    </div>
</div>
<!-- 主体部分结束 -->
    
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script type="text/javascript" src="__PUBLIC__/js/jquery.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/bootstrap-3.3.7/js/bootstrap.min.js"></script>
<script src="__PUBLIC__/Home/js/index.js"></script>


</body>
</html>
