<include file='Public/public'/>
<script>
	//定义页面载入事件
	$(function(){
		//获取btnAdd按钮
		$('#btnAdd').bind('click',function(){
			// 设置“添加文章”链接
			window.location.href = '{:U('Article/addlist')}';
		});
	});
    //定义页面载入事件
    $(function(){
        //获取btnAdd按钮
        $('#btnRecycle').bind('click',function(){
            // 设置“回收站”链接
            window.location.href = '{:U('Article/recyclelist')}';
        });
    });
</script>
<div class="admin">
	<form action="{:U('Article/delmany')}" method="POST">
    <div class="panel admin-panel">
    	<div class="panel-head"><strong>文章列表</strong></div>
        <div class="padding border-bottom">
            <input type="button" class="button button-small checkall" name="checkall" checkfor="art_id[]" value="全选" />
            <input type="button" id="btnAdd" class="button button-small border-green" value="添加文章" />
            <input type="submit" class="button button-small border-yellow"  value="批量删除" onclick=" return confirm('确认全部删除吗?')" />
            <input type="button" id="btnRecycle" class="button button-small border-blue" value="回收站" />
        </div>
        <table class="table table-hover">
        	<tr>
                <th width="45">选择</th>
                <th width="120">所属类别</th>
                <th width="200">文章标题</th>
                <th width="120">赞数</th>
                <th width="180">发布时间</th>
                <th width="100">操作</th>
            </tr>
            <volist name='allart' id='row'>
                <tr>
                <!-- name值应为数组形式，不然会被覆盖 -->
                <td><input type="checkbox" name="art_id[]" value="{$row.art_id}" /></td>
                <td>{$row.cate_name}</td>
                <td>{$row.title|substr=0,48}</td>
                <td>{$row.likes}</td>
                <td>{$row.addtime}</td>
                
                <td>
                    <a class="button border-blue button-little" href="{:U('Article/editlist',array('art_id'=>$row['art_id']))}">修改</a> 
                    <a class="button border-yellow button-little" href="{:U('Article/delete',array('art_id'=>$row['art_id']))}" onclick="return confirm('确认删除吗?')">删除</a>
                </td>
                </tr>
            </volist>
        </table>
		<div class="panel-foot text-center">
            {$showpage} 
        </div>
    </div>
    </form>
    <br />
    <p class="text-right text-gray" style="float:right">我的博客</p>
</div>
</body>
</html>